*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    place-items: center;
}

.listaSuperior{
    margin: 40px 0;
}

h2{
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.tituloAbajo{
    margin-top: 20px;
}

p{
    font-style: italic;
    margin-bottom: 20px;
    text-align: center;
}
hr{
    height:2px;
    border-width:1;
    color:gray;
    width: 75%;
    margin-left: 130px;
}
li{
    text-align: start;
}
.recuadro{
    border: 1px dashed black;
    padding: 20px 60px 20px 40px;
    left: 0;
    width: 500px;
}
.recuadroArriba{
    border: 1px dashed black;
    padding: 20px 250px 20px 60px;
    position: relative;
}





























