*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(111, 154, 227);
}

.card{
    background-color: white;
    border: 2px solid black;
    height: 1000px;
    width: 500px;
    margin: 30px auto;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: sans-serif;
    color: grey;
    font-size: 30px;
}
input{
    margin-bottom: 5px;
    padding: 8px;
    width: 400px;
    background-color: rgb(211, 224, 238);
}

.circulo{
    background-color: rgb(211, 224, 238);
    height: 120px;
    width: 120px;
    margin-top: 300px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.abajo{
    width: 250px;
    padding: 15px;
}