*{
    margin: 0;
    padding: 0;
}


.header{
    width: auto;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
    font-family: sans-serif;
}
.header1{
    background-color: lightskyblue;
}

.header2{
    background-color: lightcoral;
    position: sticky;
    top: 0;
}

.header3{
    background-color: blueviolet;
    position: sticky;
    top: 150px;
}

p{
    text-align: justify;
    margin: 30px 100px;
}
